<?xml version="1.0" encoding="UTF-8"?>

<beans>

    <!--初始化及销毁通过配置实现-->
    <bean id="userDao" class="com.pakjyu.springframework.test.bean.UserDao"
          init-method="initDataMethod"
          destroy-method="destroyDataMethod"/>

    <!--初始化及销毁通过接口实现-->
    <bean id="userService" class="com.pakjyu.springframework.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.pakjyu.springframework.test.common.MyBeanPostProcessor"/>
    <bean class="com.pakjyu.springframework.test.common.MyBeanFactoryPostProcessor"/>
</beans>